# .gitignore whitelist

# Ignore everything
*

# Allow CI configs
!/.gitattributes
!/.gitignore
!/Makefile
!/.github/workflows/*.yml

# Allow source code...
!/unittest
!*.sh

!examples/*.tape
!examples/*.gif

!README.md
!LICENSE
!CONTRIBUTING.md

# ...also in subdirectories
!*/
