# .gitignore whitelist

# Ignore everything
*

# Allow CI configs
!/.gitignore
!/Makefile
!/.github/workflows/*.yml

# Allow source code...
!/unittest
!*.sh

!README.md
!LICENSE
!CONTRIBUTING.md

# ...also in subdirectories
!*/
